/* verde 02B693 */
/* verde 07b491 */
/* verde 03b591 */
/* verde 00a887 */
/* vermelho BE0318 */

/* verde medio 02B693 */
/* verde escuro 318A90 */
/* verde claro 78D4C7 */
/* amarelo f4de57 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    width: 100%;
    background-color: rgb(49, 138, 144);
    z-index: 1000;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 10px 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 400;
    position: relative;
}

.nav-link:hover {
    color: #f4de57;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f4de57;
    bottom: -6px;
    left: 0;
    transition: width 0.3s ease; /* Controla a animação */
}

.nav-link:hover::after {
    color: #f4de57;
    width: 100%; /* Expande a linha no hover */
}

.btn-agendar {
    background-color: #f4de57;
    padding: 15px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.btn-agendar:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* BANNER */

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-image: url(../img/escuro88.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    
.banner-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.banner img {
    width: 600px;
}

.banner-text h1 {
    color: #f4de57;
    font-size: 3rem;
    font-weight: bold;
}

.banner-text h3 {
    color: #f4de57;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-text p {
    color: #ffffff;
    font-size: 1.2rem;
}

.banner-button {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #f4de57;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.banner-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* conheca a nutri */

.conheca-nutri {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #318A90;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nutri-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.nutri-info-img {
    width: 450px;
    border-radius: 55px;
    margin-left: 55px;
    margin-right: 65px;
}

.nutri-descricao {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.nutri-descricao h3 {
    color: #318A90;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.nutri-descricao p {
    font-size: 1.3rem;
    color: #000000;
}

.nutri-descricao section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nutri-descricao button {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #318A90;
    /* background: linear-gradient(to left, #02B693, #318A90); */
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin-top: 15px;
    transition: transform 0.3s ease, background-color 0.5s ease-in-out;
    cursor: pointer;
}

.nutri-descricao button:hover {
    transform: scale(1.1);
    background-color: #f4de57;
}

/* ESPECIALIDADES */

.especilidade-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #318A90;
    /* background: linear-gradient(to top right, #02B693, #318A90); */
}

.especilidade-container h2 {
    color: #f4de57;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 15px;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    gap: 50px;
}

.card {
    margin-bottom: 80px;
    background-color: #f8f8f8;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 9px 9px 10px #f4de57;
}

.card-info img {
    width: 70px;
    margin-bottom: 15px;
}

.card-info h4 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #318A90;
}

.card-info p {
    font-size: 1.1rem;
    color: #000000;
}

/* .card-info:hover h4 {
    color: #ffffff;
}

.card-info:hover p {
    color: #ffffff;
} */
/* consulta passo a passo */

.consulta-container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.consulta-container h2 {
    color: #318A90;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

.card-container-consulta {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.card-passo-passo {
    padding: 25px;
    border-radius: 15px;
    /* border: 1px solid red; */
    width: 550px;
    cursor: pointer;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-passo-passo img {
    width: 80px;
}

.card-passo-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-passo-descricao h4 {
    color: #318A90;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card-passo-descricao p {
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
}

.btn-passo-passo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-passo-passo button {
    background-color: #318A90;
    /* background: linear-gradient(to right, #02B693, #318A90); */
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
    color: #ffffff;
    margin-bottom: 35px;
    border-radius: 15px;
    width: 25%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.btn-passo-passo button:hover {
    transform: scale(1.1);
    background-color: #f4de57;
}

/* POS CONSULTA */

.pos-consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #318A90;
    /* background: linear-gradient(to top left, #02B693, #318A90); */
}

.pos-consulta h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #f4de57;
}

.pos-consulta p {
    font-size: 1.2rem;
    color: #ffffff;
}

.pos-consulta section {
    margin-top: 40px;
    margin-bottom: 35px;
}

.pos-consulta-info img {
    width: 45px;
}

.pos-consulta-info {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.pos-consulta-info p {
    font-size: 1.2rem;
}

/* CONTATO */
.contato-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contato-info {
    text-align: left;
}

.contato-info h5 {
    margin-bottom: 35px;
    font-size: 1.8rem;
    color: #318A90;
    font-weight: bold;
}

.contato-info p {
    margin-bottom: 25px;
    color: #318A90;
    font-size: 1.2rem;
}

.contato-info p i {
    font-size: 20px;
    margin-right: 10px;
}

.contato-info p a {
    text-decoration: none;
    color: #000000;
}

.rede-social a {
    color: #318A90;
    font-size: 35px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: #318A90;
    /* background: linear-gradient(to top right, #02B693, #318A90); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.1rem;
    color: #ffffff;
}